* {
    margin: 0 auto;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('bg.jpg')
}
#canvas1 {
    width: 1000px;
    height: 550px;
    border: 3px solid lightpink;
    background-color: rgb(29, 0, 29);
}

#copyrite {
    position: absolute;
    top: 97%;
    right: 5%;
    text-align: right;
    font-size: xx-small;
    color: lightpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    position: absolute;
    top: 0.5%;
    right: 40%;
    text-align: center;
    color: lightpink;
    font-family: 'OCR A Std', monospace;
    font-size: 44px;
}